/*Global Resets*/
body{
    margin:0;
    padding:0;
    font-family: fantasy;
    background-color: #22577a;
    color:#22577a;
}

/* this is to show the scaffolding of the CSS*/
{
    border: 2px solid black;
}


/* -- Layout 1 with grid -- */
/* grid container */
.layout--1{
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,fr);
    grid-template-areas:
    "header"
    "nav"
    "title"
    "aboutme"
    "qualities"
    "photo"
    "project"
    "contact"
    "social";

    min-height:100vh;
}

/*grid items*/

.header{
    grid-area: header;
    background-color:aliceblue;
    color: #22577a;
    text-align: center;
    
}

.nav{
    grid-area: nav;
    background-color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    word-spacing: 1rem;
}

.title{
    grid-area: title;
    text-align: center;
    color: aliceblue;
}

.aboutme{
    grid-area: aboutme;
    text-align: center;
    background-color: aliceblue;
}

.qualities {
    grid-area:qualities;
    text-align: center;
    color: aliceblue;
}

.photo{
    grid-area: photo;
    text-align: center;
}

.project{
    grid-area: project;
    text-align: center;
    
}

.contact{
    grid-area:contact;
    text-align: center;
    background-color: aliceblue;
}

.social{
    grid-area:social;
    background-color:aliceblue;
    font-size: 1.1rem;
    text-align: center;
    padding:15px;


}

.footer{
    grid-area: footer;
    text-align: center;
    text-decoration: 0;
    
}

/*Used to remove all underlines on links-may have to add further specificity at a later stage*/
a{
    text-decoration: none;
}

/* ID to change the word spacing for the get in touch nav button */
#getintouch {
    word-spacing: 0em;
}

/* Classes for photos flexbox */
.photobox {
    display: flex;
    flex-wrap: wrap;
    padding:0;
}

.photobox > li {
    height: 40vh;
    flex-grow: 1;
}

.photobox > li:nth-child {
    flex-grow: 10;
}

/* this is for flexbox photos so need to adapt for other images*/
img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/* Classes for contact grid*/
.contactgrid {
display:grid;
grid-template-columns: 40% 1fr 40%;
grid-template-rows: repeat(4fr);
padding:0;
margin:0;
background-color: aliceblue;
}
.label{
grid-column: 2/3;
text-align: left;
font-size: small;
text-transform: uppercase;
}
.input{
grid-column: 2/3;
background-color: aliceblue;
font-size: large;
}

fieldset{
    border:0;
}

#button{
    font-family: fantasy;
    color: #22577a;
    background-color: aliceblue;
    font-size: medium;
    text-transform: uppercase;
}

/* classes for icons*/
.fa-brands{
    width:100px;
}

.fa-brands:hover{
color: #38a3a5;
}

/* need to work out how to apply both hover and visited selectors 

.visited:visited{
    color:#22577a;
}
*/


/* need to look at flexbox photo grid */
/* need to add nav bar links*/
/*need to try to align submit button in contact div*/
