@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

/*Global Resets*/
body{
    margin:0;
    padding:0;
    background-color: #22577a;
    color:#22577a;
    font-family: 'Roboto Mono', monospace;
}

/* this is to show the scaffolding of the CSS
*{
    border: 2px solid black;
} */


/* -- Layout 1 with grid -- */
/* grid container */
.layout--1{
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,fr);
    grid-template-areas:
    "header"
    "nav"
    "title"
    "avatar"
    "aboutme"
    "qualities"
    "photo"
    "project"
    "contact"
    "social";

    min-height:100vh;
}

/*grid items*/

.header{
    grid-area: header;
    text-align: center;
    color: aliceblue;
    font-size: medium;
}

.nav{
    grid-area: nav;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: small;
    word-spacing: 1rem;
    padding-bottom:black;
    padding:10px;
}

.title{
    grid-area: title;
    text-align: center;
    color: aliceblue;
    font-size: large;
}

.avatar{
    grid-area: avatar;
    text-align: center;
    color: aliceblue;
    font-size: large;
}

.aboutme{
    grid-area: aboutme;
    text-align: center;
    background-color: aliceblue;
    font-size: medium;
}

.qualities {
    grid-area:qualities;
    text-align: center;
    background-color: aliceblue;
    font-size: medium;
}

.photo{
    grid-area: photo;
    text-align: center;
    background-color: black;
    padding: 0;
    border:0;
}

.project{
    grid-area: project;
    text-align: center;
    color: aliceblue;
    min-height: 60vh;
    font-size: medium;
}

.contact{
    grid-area:contact;
    text-align: center;
    background-color: aliceblue;
    font-size: medium;
}

.social{
    grid-area:social;
    background-color:aliceblue;
    font-size: 1.1rem;
    text-align: center;
    padding:15px;
}

.footer{
    grid-area: footer;
    text-align: center;
    text-decoration: 0;
}

/*Used to remove all underlines on links-may have to add further specificity at a later stage*/
a{
    text-decoration: none;
}


/*classes for photo flexbox*/
ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

li{
    height: 40vh;
    flex-grow: 1;
    list-style: none;
}

li:last-child{
    flex-grow: 10;
}
img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


/* Classes for contact grid*/
.contactgrid {
display:grid;
grid-template-columns: 40% 1fr 40%;
grid-template-rows: repeat(4,fr);
padding:0;
margin:0;
background-color: aliceblue;
}
.label{
grid-column: 2/3;
text-align: left;
font-size: small;
text-transform: uppercase;
}
.input{
grid-column: 2/3;
background-color: aliceblue;
font-size: large;
}

fieldset{
    border:0;
}

#button{
    font-family: 'Roboto Mono', monospace;
    color: #22577a;
    background-color: aliceblue;
    font-size: medium;
    text-transform: uppercase;
}

#button:hover{
    color:#38a3a5;
}

i:hover{
    color: #38a3a5;
}

/* classes for socials icons*/
.fa-brands{
    width:100px;
}

.fa-brands:visited{
    color:#22577a;
}

.fa-brands:hover{
color: #38a3a5;
}

/* classes for nav links*/

.navlink{
    color:aliceblue;
}
.navlink:visited{
    color:aliceblue;
}

.navlink:hover{
color: #38a3a5;
}

/* Classes for projects */
.main-section {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background:#22577a;
    justify-content: space-between;
    padding: 3.5vw;
}

:root {
    --cardWidth: 240px;
    --cardHeight: 280px;
    --cardMargin: 16px;
    --photoWidth:240px;
    --photoHeight:70px;  
  }

.card{
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
    border-radius: 8px;
    background:aliceblue;
    color: #22577a;
    box-sizing: border-box;
    text-transform: uppercase;
}


.project-photo{
    width:var(--photoWidth);
    height:var(--photoHeight) ;
    margin: var(--photoMargin);
}


/* Test section - trying to get one image in the center*/
.avatar-section{
   display:flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   justify-content: center;
}

.avatarcard{
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
}

/* need to look at row sizes*/